# Python
.venv/
__pycache__/
*.pyc

# MkDocs build output
site/

# Packaging
build/
dist/
*.egg-info/

# IDE
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
package-lock.json
